html,body{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.page{
	width: 480px;
	padding: 0;
	margin: 0 auto;
}

.bg::after {
	content: "";
	background: url(../images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
	z-index:-200;
}

video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index:-100;
}

  .view{
	padding-top:20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}



.distance-top1 { padding-top: 20px }
.distance-top2 { padding-top: 40px }
.distance-top3{ padding-top: 60px }

.distance-right1 { padding-right: 20px }
.distance-right2 { padding-right: 40px }
.distance-right3{ padding-right: 60px }

.color1 { color: #379683 }
.color2 { color: #739683 }
.color3 { color: #7395ae }
.color4 { color: #557a95 }
.color5 { color: #b1a296 }

.pink{color:pink}
.silver{color:silver}
.gold{color:gold}
.red{color: #501b1d}
.green{color:#afd275}

.alerts{ padding-left: 5px;}

.alerts ul{
	list-style: none;
	margin:0;
	padding: 0;
}

.alerts ul li{
	font-weight: 500;
}

.weather{
	font-size: 65%;
}

.weather ul {
	display: inline-flex;
	list-style: none;
	margin:0;
	padding:0;
}

.weather li {
	display: inline-flex;
	flex-direction: column;
	padding: 0 20px;
	border-left: solid 1px silver;
}
.weather li:first-child{
	border:none;
}

.weather li:nth-child(1),
.weather li:nth-child(2),
.weather li:nth-child(3){

	font-size: 120%;
}

.weather .period{
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.weather .columns{
	display: inline-flex;
	flex-direction: row;
}

.weather .column1{
	margin-right: 10px;
}
.weather .column1 .wi{
	font-size: 3em;
}

.weather .column2{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.weather .column2 .temp{
	font-size: 2em;
}
.weather .column2 .wind-and-direction .wi-direction-up{
	font-size: 1.1em;
	margin-right: 2px;
}
.weather .period,
.weather .column2 .temp,
.weather .column2 .wind-and-direction,
.weather .wi{
	color: #557a95;
}

.date {
	display: flex;
	align-items: flex-start;
}

.date #day-name,
.date #day-number,
.date #month-name{
	font-weight: 900;
	font-size: 3.1em;
	text-transform: capitalize;
	padding-right: 10px;
	margin-bottom:0;
	padding-bottom: 0px;
	line-height: 1.2;
}

.date #special-day {
	padding-top: 0px;
	margin-top: 0;
	padding-left: 10px;
	font-weight: 500;
	font-size: 1em;
	text-transform: uppercase;
	text-align: left;
	color: #cc0000;
}

.date #flag-day{
	padding-top: 0px;
	margin-top: 0;
	padding-left: 10px;
	text-transform: uppercase;
	text-align: left;
	display:none;
}

.date #name-of-the-day {
	padding-top: 0px;
	margin-top: 0;
	padding-left: 5px;
	font-weight: 500;
	font-size: 1em;
	text-transform: uppercase;
	text-align: left;
}

.time {
	font-weight: 400;
	font-size: 10em;
	color: #ccc;
	line-height: 1;
}

.countdown{
	display: flex;
	align-items: center;
}
.countdown .text{
	font-size: 3em;
	text-transform: uppercase;
	line-height: 1.2;
	color: #b1a296;
}
.countdown #daycount{
	font-size: 8em;
	color: #739683;
}

.crimes{ 
	text-align: left;

}
.crimes > div{
	max-width: 420px;
}
.crimes h2{
	margin-left: 10px;
	/* color: #b1a296; */
	font-size: 1em;
	text-transform: uppercase;
}

.crimes ul {
	list-style: none;
	margin: 0;
	padding: 0 10px;
}
.crimes ul li { 
	font-size: 1em;
	margin: 15px 0; 
	/* color: #b1a296; */
	line-height: 1.2;
	font-weight: 300;
}
.crimes ul li .title {
	font-weight: 500;
}